.cta{
	background: url("../images/bg/1682779268066.png")no-repeat;
	background-size: cover;
	position: relative;
}

.cta-content {
	padding: 40px;
	@include mobile {
		padding: 40px 25px;
	}
}
.mb-5{
	color: rgb(76, 88, 100);
}

.mb-30{
	margin-bottom: 30px;
}
.playstore-img{
	width: 40px;
}
.apps-store-img{
	width: 40px;
}

.text-color-primary{
	color: #fff;
}