/* Default styling for larger screens */
.section.portfolio {
    padding-bottom: 0;
}

.heading h2 {
    margin-bottom: 5px;
}

.portfolio-gallery .column {
    margin-bottom: 1rem;
}

/* Media query for tablets */
@media screen and (max-width: 1024px) {
    .heading h2 {
        font-size: 1.8rem;
    }
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
    .heading h2 {
        font-size: 1.5rem;
    }

    .portfolio-gallery .column {
        width: 100%;
    }
}
