<section class="section process">
	<div class="container">
		<div class="columns is-multiline is-desktop is-align-items-center">
			<div class="column is-5-desktop">
				<div class="process-block pl-4">
					<span class="is-uppercase text-sm letter-spacing">Why choose us</span>
					<h2 class="mb-4 mt-3">We help you to make work easy</h2>
					<p class="mb-4">We understand what your business means to you,your requirements considering trends.Smet nemo excepturi voluptas eligendi .</p>
				</div>
			</div>

			<div class="column is-7-desktop">
				<div class="columns is-multiline custom-grid">
					<div class="column is-6-widescreen is-6-tablet">
						<div class="icon-block has-text-centered">
							<i class="ti-light-bulb"></i>
							<h5>Data analysis</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pb-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="ti-panel"></i>
							<h5>Web Development</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered">
							<i class="ti-search"></i>
							<h5>Content Mangement</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="ti-rocket"></i>
							<h5>Mobility</h5>
							<p>A complete web app solution for business</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>