<section class="section process">
	<div class="container">
		<div class="columns is-multiline is-desktop is-align-items-center">
			<div class="column is-5-desktop">
				<div class="process-block pl-4">
					<span class="is-uppercase text-sm letter-spacing">Why choose us</span>
					<h2 class="mb-4 mt-3">
						We help you monetize your content
					</h2>
					<p class="mb-4">
						<!-- We help you monetize your content -->
						We specialize in content monetization exclusively through strategic brand collaborations, ensuring creators maximize revenue through effective and tailored partnerships.					</p>
				</div>
			</div>

			<div class="column is-7-desktop">
				<div class="columns is-multiline custom-grid">
					<div class="column is-6-widescreen is-6-tablet">
						<div class="icon-block has-text-centered">
							<i class="fa-solid fa-vials"></i>
							<h5>
								Request a Sample
							</h5>
							<p>
								Seek a brand sample for creating digital content. Requesting to showcase and promote their product through engaging and creative visuals.
							</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pb-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="fa-solid fa-store"></i>
							<h5>
								Create your Own Store
							</h5>
							<p>
								Set up your online store effortlessly. Showcase and sell products with our user-friendly platform. Start your e-commerce journey today.
							</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered">
							<i class="fa-solid fa-shirt"></i>
							<h5>Find Wide Variety of Fashion</h5>
							<p>
								Discover a diverse range of fashion options. Explore trendy styles, timeless classics, and unique pieces for a versatile and stylish wardrobe.</p>
						</div>
					</div>

					<div class="column is-6-widescreen is-6-tablet pt-0">
						<div class="icon-block has-text-centered mt-30">
							<i class="fa-brands fa-product-hunt"></i>
							<h5>
								Add Your Own Product
							</h5>
							<p>
								
                                Introduce your unique product. Elevate your brand with a distinctive item that stands out. Capture attention and drive sales.
							</p>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</section>