<!-- section Counter Start -->
<section class="section counter">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">1730</span> +</h2>
					<p>Project Done</p>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">125 </span>M </h2>
					<p>User Worldwide</p>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">39</span></h2>
					<p>Availble Country</p>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop">
				<div class="counter-item has-text-centered">
					<h2 class="mb-0"><span class="counter-stat font-weight-bold">14</span></h2>
					<p>Award Winner </p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->