<section class="section cta">
	<div class="container download-app">
		<div class="columns is-desktop">
			<div class="column is-5-widescreen is-7-desktop">
				<div class="cta-content bg-white rounded">
					<h3 class="mb-5">Download the <span class="text-color-primary" style=" color: #FF715B;"> App</span> </h3>
					<p class="mb-30"><img src="images/Buhratalogo3.png" alt="logo" style="width: 70px;"> is a revolutionary creator-led ecommerce platform that empowers users to build their personalized online store.</p>
					<span><a class="playstore-img" href="https://play.google.com/store/apps/details?id=com.buhrata.user"><img src="images/google play.png" alt="playstore image"></a></span>
						<span><a class="apps-store-img" href="https://apps.apple.com/in/app/buhrata/id6471469960"><img src="images/app store.png" alt="appstore image"></a></span>

			</div>
		</div>
	</div>
</section>