<!-- footer Start -->
<footer class="footer section">
	<div class="container">
		<div class="columns is-multiline">
			<div class="column is-3-widescreen is-6-tablet">
				<div class="widget">
					<div class="logo mb-4">
						<img src="images/image.png" alt="logo">
					</div>
					<p>
						Nextgen Vidhya Pvt Ltd.
					</p>
				</div>
			</div>
			<div class="column is-2-widescreen is-6-desktop is-6-tablet ml-auto">
				<div class="widget">
					<h4 class="is-capitalize mb-4">Company</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">About</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Team</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop is-6-tablet">
				<div class="widget">
					<h4 class="is-capitalize mb-4">Support</h4>

					<ul class="list-unstyled footer-menu lh-35">
						<li><a href="#">Terms & Conditions</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="column is-3-widescreen is-6-desktop is-6-tablet">
				<div class="widget widget-contact">
					<h4 class="is-capitalize mb-4">Get in Touch</h4>
					<h6><a href="mailto:contact@buhrata.com" > <i class="ti-headphone-alt mr-3"></i>contact@buhrata.com</a></h6>
					<h6><a href="tel:01169270421" > <i class="ti-mobile mr-3"></i>01169270421</a></h6>

					<ul class="list-inline footer-socials mt-5">
						<li class="list-inline-item"><a href="#"><i class="ti-facebook mr-2"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="ti-twitter mr-2"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="ti-linkedin mr-2 "></i></a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="footer-btm py-4 mt-6">
			<div class="columns">
				<div class="column is-6-widescreen">
					<div class="copyright">
						&copy; Copyright Reserved to <span class="text-color">Buhrata</span> by <a href="#" target="_blank">Nextgen Vidhya Pvt Ltd.</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>