<!-- navigation -->
<div id="navbar" class="navigation py-4">
	<div class="container">
		 <nav class="navbar">
			 <div class="navbar-brand">
				 <a class="navbar-item" href="index.html">
					 <img src="images/logo.png" alt="logo">
				 </a>
				 <button role="button" class="navbar-burger burger" data-hidden="true" data-target="navigation">
					 <span aria-hidden="true"></span>
					 <span aria-hidden="true"></span>
					 <span aria-hidden="true"></span>
				 </button>
			 </div>
 
			 <div class="navbar-menu" id="navigation">
				 <ul class="navbar-start ml-auto">
					 <li class="navbar-item">
						 <a class="navbar-link" href="index.html">Home</a>
					 </li>
					 
					 <li class="navbar-item">
						 <a class="navbar-link" href="about.html">About</a>
					 </li>
					 
					 <li class="navbar-item">
						 <a class="navbar-link" href="project.html">Portfolio</a>
					 </li>
 
					 <li class="navbar-item has-dropdown">
						 <a class="navbar-link">Pages</a>
						 <div class="navbar-dropdown">
							 <a class="navbar-item" href="service.html">Service</a>
							 <a class="navbar-item" href="pricing.html">Pricing</a>
							 <a class="navbar-item" href="blog-sidebar.html">Blog with sidebar</a>
							 <a class="navbar-item" href="blog-single.html">Blog Single</a>
						 </div>
					 </li>
					 
					 <li class="navbar-item">
						 <a class="navbar-link" href="contact.html">Contact</a>
					 </li>
				 </ul>
				 <ul class="navbar-end ml-0">
					 <li class="navbar-item">
						<a href="contact.html" class="btn btn-solid-border">Get an estimate <i class="fa fa-angle-right ml-2"></i></a>
					 </li>
				 </ul>
			 </div>
		 </nav>
	</div>
 </div>