<div class="sidebar-wrap">
	<div class="sidebar-widget search mb-4">
		<h5>Search Here</h5>
		<form action="#" class="search-form">
			<input type="text" class="input" placeholder="search">
			<i class="ti-search"></i>
		</form>
	</div>


	<div class="sidebar-widget latest-post mb-4">
		<h5>Latest Posts</h5>

		<div class="media">
			<a href="#" class="mr-4"><img width="90px" src="images/blog/bt-3.jpg" alt=""></a>
			<div class="media-body">
				<span class="text-sm text-muted">03 Mar 2018</span>
				<h6 class="my-2"><a href="#">Thoughtful living in los Angeles</a></h6>
			</div>
		</div>

		<div class="media">
			<a href="#" class="mr-4"><img width="90px" src="images/blog/bt-2.jpg" alt=""></a>
			<div class="media-body">
				<span class="text-sm text-muted">03 Mar 2018</span>
				<h6 class="my-2"><a href="#">Vivamus molestie gravida turpis.</a></h6>
			</div>
		</div>

		<div class="media">
			<a href="#" class="mr-4"><img width="90px" src="images/blog/bt-1.jpg" alt=""></a>
			<div class="media-body">
				<span class="text-sm text-muted">03 Mar 2018</span>
				<h6 class="my-2"><a href="#">Fusce lobortis lorem at ipsum semper sagittis</a></h6>
			</div>
		</div>
	</div>

	<div class="sidebar-widget category mb-4">
		<h5 class="mb-4">Categories</h5>

		<ul class="list-unstyled">
			<li class="is-align-items-center">
				<a href="#">Innovation</a>
				<span>(14)</span>
			</li>
			<li class="is-align-items-center">
				<a href="#">Software</a>
				<span>(2)</span>
			</li>
			<li class="is-align-items-center">
				<a href="#">Social</a>
				<span>(10)</span>
			</li>
			<li class="is-align-items-center">
				<a href="#">Trends</a>
				<span>(5)</span>
			</li>
		</ul>
	</div>


	<div class="sidebar-widget tags mb-4">
		<h5 class="mb-4 w-100">Tags</h5>

		<a href="#">Web</a>
		<a href="#">agency</a>
		<a href="#">company</a>
		<a href="#">creative</a>
		<a href="#">html</a>
		<a href="#">Marketing</a>
		<a href="#">Social Media</a>
		<a href="#">Branding</a>
	</div>

	<div class="sidebar-widget mb-4">
		<a href="#"><img src="images/blog/adv.jpg" alt="" class="w-100"></a>
	</div>

</div>