<!-- Slider Start -->
<section class="banner is-flex is-align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="columns">
			<div class="column is-8-widescreen is-10-desktop">
				<div class="block">
					<span class="is-uppercase text-sm letter-spacing ">
						Turning Your Passion into profit
					</span>
					<h1 class="my-4">
						Ignite Your Influence
					</h1>
					<p class="mb-6">
						Connect, Grow, Impact	
					</p>

					<a href="about.html" target="_blank" class="btn btn-main">Learn more about Digicon<i class="fa fa-angle-right ml-2"></i></a>

				</div>
			</div>
		</div>
	</div>
</section>