<!-- Slider Start -->
<section class="banner is-flex is-align-items-center">
	<div class="banner-img-part"></div>
	<div class="container">
		<div class="columns">
			<div class="column is-8-widescreen is-10-desktop">
				<div class="block">
					<span class="is-uppercase text-sm letter-spacing ">
						Turning Your Passion into profit
					</span>
					<h1 class="my-4">
						Ignite Your <br> Influence
					</h1>
					<p class="mb-6">
						<span><a class="playstore-img" href="https://play.google.com/store/apps/details?id=com.buhrata.user"><img src="images/playstore-img.svg"></a></span>
						<span><a class="apps-store-img" href="https://apps.apple.com/in/app/buhrata/id6471469960"><img src="images/apps store.png" style="margin-left: 8px;"></a></span>
					</p>

					<a style="top: -5vh; position: relative;" href="about.html" target="_blank" class="btn btn-main temp-btn">Learn more about Buhrata<i class="fa fa-angle-right ml-2"></i></a>

				</div>
			</div>
		</div>
	</div>
</section>