<section class="section team">
	<div class="container">
		<div class="columns is-desktop is-justify-content-center">
			<div class="column is-6-desktop">
				<div class="heading has-text-centered mb-50">
					<h2 class="mb-5">Our Team</h2>
					<p>Today’s users expect effortless experiences. Don’t let essential people and processes stay stuck in the past. Speed it up, skip the hassles</p>
				</div>
			</div>
		</div>

		<div class="columns is-multiline">
			<div class="column is-3-desktop is-6-tablet">
				<div class="team-block mb-5 mb-lg-0">
					<img src="images/team/03-1.jpg" alt="" class="w-100">

					<h4 class="mt-4 mb-0">John Marshal</h4>
					<p>Founder</p>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="team-block mb-5 mb-lg-0">
					<img src="images/team/01-3.jpg" alt="" class="w-100">

					<h4 class="mt-4 mb-0">Marshal Root</h4>
					<p>Marketing Head</p>
				</div>
			</div>

			<div class="column is-3-desktop is-6-tablet">
				<div class="team-block mb-5 mb-lg-0">
					<img src="images/team/03-1.jpg" alt="" class="w-100">

					<h4 class="mt-4 mb-0">Siamon john</h4>
					<p>Co-ordinator</p>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="team-block">
					<img src="images/team/01-3.jpg" alt="" class="w-100">

					<h4 class="mt-4 mb-0">Rishat Ahmed</h4>
					<p>Senior Developer</p>
				</div>
			</div>
		</div>
	</div>
</section>