<section class="section testimonial">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-8-desktop">
				<div class="heading">
					<h2 class="mb-5">What they say about us</h2>
					<p>The app offers a broad range of affiliate programs across various industries, providing ample options for users to find partnerships that align with their audience.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="columns is-multiline">
			<div class="column is-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>
						What sets Buhrata apart is the genuine connection between Rohit and the brand. It's like having a trusted friend guide me through the best products, and I appreciate the authenticity.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Pranav Patel</h6>
							<span>Udaipur</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						The application's interface is intuitive and easy to navigate, making it accessible for both beginners and experienced users.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Meera Shah</h6>
							<span>Ahmedabad</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						I stumbled upon this gem through an influencers recommendation, and I couldn't be happier! The curated collections and exclusive deals make every purchase feel special.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial3.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Ziva Agarwal</h6>
							<span>Mumbai</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						The app boasts an intuitive design, making it easy for both brands and influencers to navigate. The dashboard is well-organized, providing a seamless experience.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial4.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Priyansh Burman</h6>
							<span>Dehli</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						I appreciate the authenticity Selena brings to the table. When they recommend products from Buhrata, I know I'm getting quality and style that aligns with my preferences.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial5.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Shweta Sharma</h6>
							<span>Goa</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						As a loyal follower of Neha, I trust their taste and style. The fact that they collaborate with Buhrata makes my shopping decisions so much easier, and the quality of products never disappoints.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial6.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Neha Mahrshwari</h6>
							<span>Bangalore</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						Kudos to Buhrata for teaming up with Vihan. Their collaboration brings a personalized touch to the shopping experience, and I love discovering new products through their recommendations.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial7.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Ayaan Mukharjee</h6>
							<span>Agra</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						I can't thank Virat and Burhata enough for introducing me to a world of fantastic products. Their collaboration has not only simplified my shopping but also added a touch of excitement to each purchase.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial8.jpg" alt="testimonial" class="w-100">
						</div>
						<div class="info">
							<h6>Arjun  Nayar</h6>
							<span>Karnataka</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>