<section class="section testimonial">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-8-desktop">
				<div class="heading">
					<h2 class="mb-5">What they say about us</h2>
					<p>The app offers a broad range of affiliate programs across various industries, providing ample options for users to find partnerships that align with their audience.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="columns is-multiline">
			<div class="column is-12 testimonial-wrap">
				<div class="testimonial-block">
					<p>
						The app boasts an intuitive design, making it easy for both brands and influencers to navigate. The dashboard is well-organized, providing a seamless experience.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="w-100">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>

				<div class="testimonial-block">
					<p>
						The application's interface is intuitive and easy to navigate, making it accessible for both beginners and experienced users.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="w-100">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						The app boasts an intuitive design, making it easy for both brands and influencers to navigate. The dashboard is well-organized, providing a seamless experience.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="w-100">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						The application's interface is intuitive and easy to navigate, making it accessible for both beginners and experienced users.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial2.jpg" alt="" class="w-100">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
				<div class="testimonial-block">
					<p>
						The app boasts an intuitive design, making it easy for both brands and influencers to navigate. The dashboard is well-organized, providing a seamless experience.
					</p>

					<div class="client-info is-flex is-align-items-center">
						<div class="client-img">
							<img src="images/team/testimonial1.jpg" alt="" class="w-100">
						</div>
						<div class="info">
							<h6>John Partho</h6>
							<span>Newyork USA</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>